body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #151717;;
    color:#ffffff;
    word-spacing: 100;
}


.abt
    {
    width: 1050px;
    height: 125px;
    background:#202424;
    color: #3a3d4c;
    margin: 0px auto;
    }

.abt h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.abt p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin: 1px auto;
}

.abt a
{
    font-family: Arial, Helvetica, sans-serif;
    color: #00e1ff;
    margin: 1px auto;
}

.selection
    {
    width: 1050px;
    height: 100px;
    background:#151515;
    color: #3a3d4c;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 50px;
    }

.selection h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 0px auto;
}

.selection p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin: 0px auto;
}

.selection button
    {
    width: 1050px;
    height: 100px;
    background:#000000;
    color: #ffffff;
    margin: auto 0px;
    }

.selection button h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 0px auto;
}

.selection button p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0px auto;
}


    .excercises
    {
    width: 1050px;
    height: 100px;
    background:#151515;
    color: #3a3d4c;
    margin: 0px auto;
    margin-bottom: 300px;
    margin-top: 25px;
    }

.excercises h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.excercises p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin: 1px auto;
}

.excercises input
{
    border-radius: 100px;
    background: radial-gradient(rgb(64, 64, 64), rgb(27, 27, 27));
    color: #f2f2f2;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 25px;
    width: 100px;
    height: 50px;
    transition: all .5s;
}

.excercises input:hover
{
    box-shadow: #000000 0 5.50px 75.5px;
}

    .selection
    {
    width: 1050px;
    height: 100px;
    background:#151515;
    color: #3a3d4c;
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 50px;
    }

.selection h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.selection p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin: 1px auto;
}

.selection button
    {
    width: 1050px;
    height: 100px;
    background:#000000;
    color: #ffffff;
    margin: 0px auto;
    }

.selection button h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.pages button p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.main-levels button
{
    border-radius: 100px;
    background: radial-gradient(rgb(64, 64, 64), rgb(27, 27, 27));
    color: #f2f2f2;
    font-size: 20px;
    cursor: pointer;
    margin: 50px 215px;
    width: 500px;
    height: 100px;
    transition: all .5s;
}

.main-levels button:hover
{
    box-shadow: #000000 0 5.50px 75.5px;
}

.contacts
    {
    width: 1050px;
    height: 125px;
    background:#202424;
    color: #3a3d4c;
    margin:500px 0px ;
    }

.contacts h1
{
    font-family: sans-serif;
    color: #ffffff;
    margin: 1px auto;
}

.contacts p
{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    margin: 1px auto;
}

.contacts a
{
    font-family: Arial, Helvetica, sans-serif;
    color: #00e1ff;
    margin: 1px auto;
}